{% load i18n admin_urls static %}
<div class="js-inline-admin-formset inline-group"
     id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="stacked"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
<fieldset class="module {{ inline_admin_formset.classes }}">
  {% if inline_admin_formset.formset.max_num == 1 %}
    <h2>{{ inline_admin_formset.opts.verbose_name|capfirst }}</h2>
    <!-- marcelo  inline_admin_formset max_num == 1 -->
    <p>inline_admin_formset max_num == 1</p> 
  {% else %}
    <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
    <!-- marcelo  inline_admin_formset max_num != 1 -->
    <p>inline_admin_formset max_num != 1</p>
  {% endif %}
{{ inline_admin_formset.formset.management_form }} <span style="color:red"> inline_admin_formset.formset.management_form </span>
{{ inline_admin_formset.formset.non_form_errors }} <span style="color:blue"> inline_admin_formset.formset.non_form_errors </span>

{% for inline_admin_form in inline_admin_formset %}<div class="inline-related{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
  <p>marcelo for inline_admin_form in inline_admin_formset</p>
  <h3><b>{{ inline_admin_formset.opts.verbose_name|capfirst }}:</b> <span class="inline_label">{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %} <a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" class="{% if inline_admin_formset.has_change_permission %}inlinechangelink{% else %}inlineviewlink{% endif %}" target="_blank">{% if inline_admin_formset.has_change_permission %}{% translate "Change" %}{% else %}{% translate "View" %}{% endif %}</a>{% endif %}
{% else %}#{{ forloop.counter }}{% endif %}</span>
      {% if inline_admin_form.show_url %}<a href="{{ inline_admin_form.absolute_url }}" target="_blank">{% translate "View on site" %}</a>{% endif %}
    {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>{% endif %}
    <p>marcelo teste</p>
  </h3>
  {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
  {% for fieldset in inline_admin_form %}
  <p>marcelo <span style=color:blueviolet>for fieldset in inline_admin_form</span></p>
    {% include "admin/includes/fieldset.html" %}
  {% endfor %}
  {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}XXX 1{% endif %}
  {% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}YYY 2{% endif %}
</div>{% endfor %}
</fieldset>
</div>
