{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% comment %} {% load admin_urls %}  {% endcomment %}

{% block extrastyle %} {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}">

    <style>
        #result_list tbody tr:hover {
            background-color:bisque !important;
        }
    </style>
{% endblock extrastyle %}

{% block extrahead %} {{ block.super }}
    {{ media }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock extrahead %}

{% block bodyclass %} {{ block.super }} 
    app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation
{% endblock bodyclass %}

{% if not is_popup %}
    {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {{ title }}
    </div>
    {% endblock breadcrumbs %}
{% endif %}

{% block content %} 

<div id="content-main">
    {% if form.errors %}
        <p class="errornote">
            {% if errors|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
        </p>
        {{ form.non_field_errors }}
    {% elif erros %}
        <p class="errornote">{{ erros }}</p>
    {% endif %}

    <form action="" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        {% if objects_out == "QS_KV" %} {% comment %} 
                                        <!-- Lista não Ordenada com Queryset utilizando "key, value"
                                            Registrado apenas para fins didáticos, 
                                            pois é necessário indicar os nomes dos campos no template -->     
                                        {% endcomment %}
            <div>
            <h2><strong>{{objects_caption}}</strong></h2>
            <ul> 
            {% for campo in objects %}
                <li>
                    <a href="{{ campo.pk }}/" target="_blank">{{ campo.title }} </a> - {{ campo.genre }} - {{campo.data}} - {{campo.data_hora}}
                    <input type="hidden" name="_selected_action" value="{{ campo.pk }}">
                    {% comment %} <!-- _selected_action é padrão do django; retorna as pk's selecioanas na change_list--> {% endcomment %}
                </li>
            {% endfor %} 
            </ul>
            </div>
        {% elif objects_out == "LNO_I" %}  {% comment %} <!-- Lista não Ordenada com List utilizando "índices" --> {% endcomment %}
            <div>
                <h2><strong>{{objects_caption}}</strong></h2>
            <ul>
            {% for campos in objects.corpo_list %}
                <li>
                {% for campo in  campos|slice:"1:" %}
                    {% if forloop.first is True  %}
                        <a href="{{ campos|first }}" target="_blank">{{ campo }}; </a>
                        <input type="hidden" name="_selected_action" value="{{ campos|first }}">
                        {% comment %} <!-- _selected_action é padrão do django; retorna as pk's selecioanas na change_list--> {% endcomment %}
                    {% else %}
                        {{ campo }}; 
                    {% endif %}
                {% endfor %}
                </li>
            {% endfor %}
            </ul>
            </div>
        {% else %}  {% comment %} <!-- Tabela com List utilizando "índices"--> {% endcomment %}
        <div class="results" style="overflow-x:auto;" >
            <table id="result_list"> 
            <caption class="mini quiet"><strong>{{objects_caption|upper}}</strong></caption>
            <thead>
            <tr>
            {% for cabecalho in objects.cabecalho_list %}
                <th>{{ cabecalho }}</th>
            {% endfor %}
            </tr>
            </thead>
            {% for campos in objects.corpo_list %}
               <tbody>
                <tr> 
                {% for campo in  campos|slice:"1:" %}
                    {% if forloop.first is True  %}
                        <td><a href="{{ campos|first }}" target="_blank">{{ campo }}</a></td>
                        <input type="hidden" name="_selected_action" value="{{ campos|first }}">
                        {% comment %} <!-- _selected_action é padrão do django; retorna as pk's selecioanas na change_list--> {% endcomment %}
                    {% else %}
                        <td>{{ campo }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
                </tbody>
            {% endfor %}
            </table>
            <br>
            </div>
        {% endif %}
        <div>
            <input type="hidden" name="action" value="{{action_name}}">
            <input type="hidden" name="{{post_action}}" value="yes">
        </div>
        <hr>
        <div><strong>{{question}}</strong></div>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <div>
            {% comment %} {{ form.genre }} {% endcomment %}
            {% comment %} {{ form.as_p }} {% endcomment %} 
            {% comment %} <!-- O modelo 'admin/includes/fieldset.html' exibe os campos do formulário no mesmo formato que admin/change_form.html
                 Fonte: https://www.dmertl.com/blog/?p=116 --> {% endcomment %}
            {% block field_sets %}
                {% for fieldset in adminform %}
                    {% include "admin/includes/fieldset.html" %}
                {% endfor %}
            {% endblock field_sets %}
        </div>
        <br>
        <div> 
            <input type="submit" value="{% translate 'Yes, I’m sure' %}">
            <a href="#" class="button cancel-link">{% translate "No, take me back" %}</a>
        </div>
    </form>

    {% comment %}
    <!-- Date Picker Django, Veja:-->
    <!-- https://stackoverflow.com/questions/3367091/whats-the-cleanest-simplest-to-get-running-datepicker-in-django -->
    {% endcomment %}
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
</div>
{% endblock content %}
